* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1e1e1e;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #252526;
    border-bottom: 1px solid #333;
}

#run-btn {
    padding: 8px 16px;
    background-color: #007acc;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

#run-btn:hover {
    background-color: #005999;
}

#editor-container {
    width: 100%;
    height: calc(100vh - 65px); /* Header ki height minus karke bachi hui screen */
}